<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Página web de aplicación de servicios a domicilio</h3>
            <p>Este proyecto fue realizado para una materia de la facultad, en la cual nos fue encomendada la tarea de hacer una pagina web donde
                se pudiera realizar la contratacion de distintos servicios a domicilio, por ejemplo peluqueria, limpieza, entre otros.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Proyecto1.jpg" class="img-fluid img-proyecto">
        </div>
    </div>

    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Aplicación de reserva de dispositivos</h3>
            <p>Este proyecto fue realizado para una materia en la facultad en la cual realizamos una aplicacion para llevar a cabo un sistema de reserva
                de los distintos dispositivos tecnologicos con los que cuenta la facultad, como por ejemplo, proyectores, notebooks, entre otros.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Proyecto2.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>