<div class="row">
     <div class="col-lg-2">
          <button type="button" class="btn btn-info" routerLink="/editacercade/{{persona.id}}" *ngIf="isLogged">Editar persona</button>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src= "../../../assets/perfil.jpeg" height="300px" width="225px" id="fotoDePerfil">
           </div>
           <div class="col-xs-12 col col-sm-2 col-md-2 col-lg-2">
                <p id="nombre">Mauricio Varayoun</p>
                <p>Full Stack Developer Junior</p>
           </div>
           <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
                <span>
                    <h2>Acerca de mi</h2>
                    <p>Mi nombre es Mauricio Varayoun, actualmente estoy cursando la carrera de ingenieria en sistemas de informacion, y decidi hacer este cursando
                         para seguir ampliando mis conocimientos de programación.
                    </p>
                </span>
           </div>
      </div>
    </div>
 